#contentMap {
    width: inherit;
    height: inherit;
}

.latlng-div {
    position: absolute;
    z-index: 100;
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    width: 280px;
    height: 175px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.7);
}

.show-latlng {
    display: block!important;
}

.cmx-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cmx-close-icon {
    width:15px;
    height:15px;
    display: flex;
    align-self: flex-end;
    fill: #FFF;
    cursor: pointer;
    background-image: url('/app/svg/svgmap/close-white.svg');
}
#cmxMapId {
    width: 100%;
    height: 100%;
}

.cmx-label {
    border: none;
    margin-bottom: 6px;
    color: #B0B0B0;
    font-size: 10px;
    font-weight: 300!important;
}

.cmx-data {
    font-size: 13px;
    padding-bottom: 6px;
    border-bottom-style: solid;
    border-bottom-color: #B0B0B0;
    border-bottom-width: 1px;
    color: #B0B0B0;
    margin-bottom: 6px;
    font-weight: 500!important;
    width: 220px;
}