<div #contentMap id="contentMap">
    <div class="latlng-div" [ngClass]="{ 'show-latlng' : _showLatLng }">
        <div class="cmx-content">
            <span class="cmx-close-icon" (click)="_showLatLng = false"></span>
            <div class="cmx-label">
                Latitude
            </div>
            <div class="cmx-data">
                {{ _theMarker?.getPosition().lat() }}
            </div>
            <div class="cmx-label">
                Longitude
            </div>
            <div class="cmx-data">
                {{ _theMarker?.getPosition().lng() }}
            </div>
        </div> 

    </div>

    <div #cmxMapId id="cmxMapId"></div>
</div>