/* style.css
 * This file provides css styles.
 */

body,
html {
    background-color: #3b4b54;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #00aed1;
}

a:hover {
    text-decoration: underline;
}

.newappIcon {
    padding-top: 10%;
    display: block;
    margin: 0 auto;
    padding-bottom: 2em;
    max-width: 200px;
}

h1 {
    font-weight: bold;
    font-size: 2em;
}

.leftHalf {
    float: left;
    background-color: #26343f;
    width: 45%;
    height: 100%;
}

.rightHalf {
    float: right;
    width: 55%;
    background-color: #313f4a;
    height: 100%;
    overflow: auto;
}

.blue {
    color: #00aed1;
}

table {
    table-layout: fixed;
    width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
    padding-top: 10%;
}

th {
    border-bottom: 1px solid #000;
}

th,
td {
    text-align: left;
    padding: 2px 20px;
}

.env-var {
    text-align: right;
    border-right: 1px solid #000;
    width: 30%;
}

pre {
    padding: 0;
    margin: 0;
}