// APP.SCSS
// --------

// Imports the components needed to build the app

@import "components/reset";
@import "components/grid";

// Import bootstrap responsive table
@import "mixins/table-row";
@import "components/tables";

// Import floats
@import "mixins/float";

// Import the toggler component styles
// @import "components/toggle-switch.css";

// Import colors
@import "variables/colors";

// Import radius
@import "variables/radius";

// Import borders
@import "variables/borders";

// Import typography rules
@import "components/typography";

// Import buttons
@import "components/buttons";

// Import SVG Icons
@import "components/icons";

// start helper classes
.no-padding {
	padding: 0;
	overflow-x: hidden;
}

.spacer-8 {
	width: 			100%;
	height: 		0.5rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-16 {
	width: 			100%;
	height: 		1rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-32 {
	width: 			100%;
	height: 		2rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.spacer-48 {
	width: 			100%;
	height: 		3rem;
	display: 		flex;
	margin: 		0;
	padding: 		0;
	line-height: 	0;
}

.h-delimiter {
	width: 			100%;
	height: 		1px;
	margin: 		8px 0 24px;
	background: 	$disabled-grey;
}

.toggle-menu {
	display: 		inline-block;
    width: 			24px;
    height: 		24px;
    margin: 		4px 16px;
}

.img-responsive {
	width: 100%;
}

table th,
table td {
	min-width: 160px;
	vertical-align: middle;
	font-size: $font-size-14; 
}

// end helper classes

body {
	font-family: 			$font-family;
	background: 			$background-grey;
	-webkit-font-smoothing: antialiased; // prevent blurry fonts
}

.main-header-wrap {

	header {
		text-align: center;
	}

	.user-links {
		font-weight: 	$font-bold;
		font-family: 	$font-family;
		font-size: 		$font-size-14;
		text-align: 	right;

		.notifications {
			display: 	inline-block;
			margin-top: 8px;
			padding: 	0 16px;

			a {
				color: 	$true-red;
			}
		}

		.username {
			display: inline-block;
			margin-top: 8px;
			padding: 0 16px;

			a {
				color: $bright-blue;
			}
		}
	}
}

#wrapper {
	width: 		100%;
	//overflow-x: hidden;
}

.navbar-static-side {
	z-index: 	2001;
    position: 	absolute;
    width: 		160px;
    min-height: 100%;
    min-height: calc(100% - 50px);
}

.navbar-default {
	background-color: $true-blue;
}

ul.nav {
	list-style: none;
	padding: 	0;
}

.nav-header {
	min-height: 	88px;
	background: 	$medium-blue;
	padding: 		24px 16px;
	color: 			$true-white;
	font-family: 	$font-family;
	font-size: 		$font-size-14;
	
	p {
		font-weight: $font-regular;
	}

	a {
		color: 		$true-white;
		font-weight: $font-bold;
	}
}

ul.nav li a {
	color: 			$background-grey;
    padding: 		16px 32px;
    display: 		inline-block;
    width: 			100%;
    font-size: 		14px;
    font-weight: 	normal;
    transition: 	all 0.3s;
    text-decoration: none;
    
    &:hover {
    	color: 			$true-white;
    	background: 	$deep-blue;
    }
    
    &.active {
    	color: 			$true-white;
    	background: 	$bright-blue;
    }
}


.page-wrapper {
	margin: 0 0 0 160px;
}

.main-header-wrap {
	background: 	$true-white;
	padding: 		0.5rem;
	border-bottom: 	2px solid $true-red;
}

.page-wrapper {

	a.card-container {
		display: 			block;
		text-decoration: 	none;
		transition: 		all 0.2s;
		color: 				$bright-blue;

		.box {
			background: 	$true-white;
			border-radius: 	$radius-4;
			min-height: 	146px;
			margin-bottom: 	16px;
			padding: 		8px;
			border: 		1px solid $true-white;
	    	box-shadow: 	0 1px 3px $disabled-grey;
	    	display: 		flex;
	    	align-items: 	center;
	    	justify-content: space-around;

			img {
				width: 	30%;
				padding: 	16px;
			}

			h2 {
				width: 			50%;
				font-size: 		$font-size-18;
				font-weight: 	$font-bold;
				font-family: 	$font-family;
				color: 			$bright-blue;
				text-decoration: none;
			}
		}

		&:hover {
			box-shadow: 0 2px 6px $disabled-grey;
		}
	}

	.paragraph-group {

		p:last-child {
			margin-bottom: 2rem;
		}
	}
}

// START GRID DEMO PAGE

	.grid-block-demo {
		background: 			$bright-orange;
	    border: 				1px solid #c7965f;
	    color: 					$dark-grey;
	    min-height: 			60px;
	    display: 				flex;
	    align-items: 			center;
	    justify-content: 		center;
		span {
			align-content: 		center;
			justify-content: 	center;
		}
	}

// END GRID DEMO PAGE


// START TYPOGRAPHY DEMO PAGE

	.rules-box {
		background: 	$bright-orange;
	    border: 		1px solid $bright-orange;
	    padding: 		20px;
	}

	.demo-type-block {
		background-color: 	$true-blue;
		color: 				$true-white;
		border-radius: 		$radius-2;
		width: 				100%;
		padding: 			24px;
		@include float-left;

		.float-right {
			@include float-right;
		}

		.demo-type-sample {
			font-size: 		$font-size-56;
			line-height: 	$line-height-56;
			display: 		inline-block;
			@include float-left;
		}

		.demo-type-family {
			font-size: 		$font-size-20;
			line-height: 	$line-height-20;
			width: 			100%;
			display: 		inline-block;
		}

		&.roboto-bold {
			font-weight: $font-bold;
		}

		&.roboto-medium {
			font-weight: $font-medium;
		}

		&.roboto-regular {
			font-weight: $font-regular;
		}

		&.roboto-light {
			font-weight: $font-light;
		}

		&.roboto-thin {
			font-weight: $font-thin;
		}
	}

	.demo-type {
		font-size: 		$font-size-26;
		line-height: 	$line-height-32;
		margin: 		30px 0;
	}

// END TYPOGRAPHY DEMO PAGE


// START COLORS DEMO PAGE

	.demo-color-box {
		width: 100%;
		min-height: 120px;
		margin-bottom:20px;
	}

	.demo-border-box {
		border: 1px solid #cacaca;
	}

	.color-hex-name {
		line-height: 1.2;
	}

	.background-grey {
		background: $background-grey;
	}

	.true-blue {
		background: $true-blue;
	}

	.medium-blue {
		background: $medium-blue;
	}

	.true-white {
		background: $true-white;
	}

	.dark-grey {
		background: $dark-grey;
	}

	.medium-grey {
		background: $medium-grey;
	}

	.true-red {
		background: $true-red;
	}

	.bright-blue {
		background: $bright-blue;
	}

	.bright-orange {
		background: $bright-orange;
	}

	.bright-green {
		background: $bright-green;
	}

	.disabled-grey {
		background: $disabled-grey;
	}

	.deep-blue-text {
		background: $deep-blue;
	}

	.table-highlight-grey {
		background: $table-highlight-grey;
	}

// END COLORS DEMO PAGE


// START NAVIGATION DEMO PAGE

	.main-nav-bar {
		position: relative;
		width: 100%;
		height: 56px;
		border-bottom: 2px solid $true-red;
		background: $medium-blue;
		.cmx-logo {
			width: 133px;
			height: 28px;
			fill: $true-white;
			margin-top: 13px;
			margin-left: 13px;
			float: left;
			opacity: 0.8;
			&:hover {
				opacity: 1;
			}
		}
		.main-nav-items {

			float: right;

			.main-nav-item {
				float: left;
				display: inline-block;
				position: relative;
			}

			.vertical-bar {
				width: 1px;
				height: 32px;
				background: $true-white;
				opacity: 0.3;
				margin: 12px 0;
				float: left;
			}

			.notifications {
				position: relative;
				font-weight: $font-bold;
				font-size: $font-size-14;
				color: $true-white;
				margin: 12px;

				.as-label {
					padding: 6px 12px;
					opacity: 0.8;
					float: left;

					&:hover {
						opacity: 1;
					}
				}

				.circle {
					font-weight: $font-bold;
					font-size: $font-size-14;
					border-radius: 50px;
					width: 32px;
					height: 32px;
					background: $true-red;
					color: $true-white;
					text-align: center;
					line-height: $line-height-32;
					float: left;
				}

			}	

			.search-container {
				margin: 15px 12px 10px 12px;
				fill: $true-white;
				opacity: 0.8;
				&:hover {
					opacity: 1;
				}
			}

			.user-logged {
				margin: 12px;
				.circle {
					font-weight: $font-bold;
					font-size: $font-size-14;
					border-radius: 50px;
					width: 32px;
					height: 32px;
					background: $true-white;
					color: $deep-blue;
					text-align: center;
					text-transform: uppercase;
					line-height: $line-height-32;
					opacity: 0.8;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	.notifications-container {
		position: absolute;
		z-index: 1000;
		width: 382px;
		background: $true-white;
		border-top: 2px solid $bright-blue;
		top: 52px;
		right: 0;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		display: none;
	}

	.notifications-list {
		padding: 16px;
	}

	.notification-entry {
		float: left;
		clear: both;
		margin-bottom: 16px; 
	}

	.notification-entry .notification-icon {
		float: left;
		width: 24px;
		margin-right: 16px;
	}

	.notification-entry .notification-data {
		float: left;
		width: 310px;
	}

	.notification-entry h6 {
		font-size: $font-size-16;
		font-weight: $font-medium;
		margin-bottom: 8px;
	}

	.notification-entry p {
		font-size: $font-size-12;
		line-height: $line-height-16;
		max-width: 280px;
		margin-bottom: 8px;
	}

	.notification-entry .call-to-action {
		font-size: $font-size-12;
		font-weight: $font-medium;
		line-height: $line-height-12;
		float: right;
		margin-bottom: 16px;
	}

	.notification-entry:last-child .call-to-action {
		margin-bottom: 0;
	}

	.horizontal-dotted {
		width: 100%;
		height: 1px;
		background: url("../images/dotted-tile.png") repeat-x;
		float: left;
	}

	.main-cta {
		float: right;
		font-weight: $font-bold;
		font-size: 14px;
		padding: 16px;
	}

	.search-holder {
		position: relative;
		top: -33px;
		width: 340px;
		display:none;

		input[type="submit"] {
			display: none;			
		}

		.fake-submit {
			width: 24px;
			height: 24px;
			display: inline-block;
			float: left;
			fill: $true-white;
			margin-right: 8px;
			margin-top: 2px;
			cursor: pointer;
		}

		input[type="search"] {
			background: none;
			border: 0 none;
			width: 270px;
			margin-right: 16px;
			border-bottom: 1px solid $true-white;
			display: inline-block;
			float: left;
			color: $true-white;

			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			  color: $true-white;
			}
			&::-moz-placeholder { /* Firefox 19+ */
			  color: $true-white;
			}
			&:-ms-input-placeholder { /* IE 10+ */
			  color: $true-white;
			}
			&:-moz-placeholder { /* Firefox 18- */
			  color: $true-white;
			}

			&:focus,
			&:active {
				outline: 0 none;
			}
		}
		.dismiss-search {
			cursor: pointer;

			svg {
				width: 14px;
				height: 14px;
				margin-top: 8px;
				fill: $true-white;
			}
		}
	}

// END NAVIGATION DEMO PAGE



