<div class="cmx-dialog">
    <div  class="cemex-header" fxHide [fxShow.gt-xs]="true">
        <span class="close-icon" (click)="activeModal.dismiss(false)" >
        </span>
    </div>
    <div class="cemex-body">
        <h4 class="dialog-title">{{ title }}</h4>
        <p>{{message}}</p>
    </div>
    <div class="cemex-footer">
        <button cmx-button type="button" *ngFor="let keyOption of getKeys()" class="btn btn-secondary" (click)="activeModal.close(options[keyOption].value)"
            [color]="options[keyOption].color ? options[keyOption].color : 'blue-inverse'">
        {{keyOption}}
        </button>
    </div>
</div>