  .chip-input-field {
      box-shadow: none;
      border: 0;
      padding-left: 12px;
      &:focus {
          outline-width: 0;
      }
  }
  
  .input-chip-container {
      width: 100%;
      height: 48px;
      background-color: #fff;
      border: 1px solid #ADAEBB;
      border-radius: 3px;
      margin: 0;
  }
  
  .chip-container {
      width: calc(100% - 48px);
      padding: 8px 0;
      display: inline-block;
  }
  
  .search {
      height: 100%;
      line-height: 48px;
      text-align: center;
      width: 48px;
      float: right;
      background-color: #3FA9F5;
      img {
          height: 16px;
          width: 16px;
          &:hover {
              cursor: pointer;
          }
      }
  }