// * {
//     font-family: 'Roboto', sans-serif;
// }
.input-container {
    width: auto;
    display: inline-block;
    position: relative;
    margin-left: 16px;
}

.input-container p {
    margin: 0;
    font-size: 12px;
    color: #001B3A;
    line-height: 16px;
    height: 16px;
    width: 100%;
}

:host /deep/ .input-container input {
    background-color: #FFF;
    -webkit-appearance: none;
    border: 1px solid #ADAEBB;
    border-radius: 3px;
    padding: 9px 0 9px 9px;
    font-size: 16px;
    width: 100%;
    color: #333;
    margin-bottom: 16px;
    outline-width: 0;
    &:focus {
        border-color: #3FA9F5;
    }
}

.input-container label {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    color: #EE3D42;
    text-align: right;
    width: 100%;
}

:host /deep/ input.wrong {
    background-color: rgba(238, 61, 66, 0.05) !important;
    border-color: #EE3D42 !important;
    &:focus {
        border-color: #EE3D42 !important;
    }
}