@import './../../assets/sass/md-cemex/colors';
@import './../../assets/sass/md-cemex/fonts';
@import './../../assets/sass/md-cemex/mixins';

:host {
    width: 100%;
    // height: $input-container-height;
    margin: 8px 0;
    display: block;
}

:host /deep/
.txtArea {
    @include box-sizing( border-box );
    position: relative;

    label {
        // position: absolute !important;
        top: -12px !important;
        left: 0 !important;
        // margin: 0 !important;
        font-size: 10px !important;
        height: 18px !important;
        line-height: 18px !important;
        color: $disabled-color !important;
        &.--active {
            color: $primary-color !important;
        }
    }

    textarea {
        box-sizing: border-box;
        // width: 468.9px;
        // height: 117.06px;
        border: 1px solid #B3B3B3;
        border-radius: 0px !important;
        resize: none !important;
    }
}
