<cmx-nav-head (clickMenuButton)="clickMenuButton()"></cmx-nav-head>
<cmx-nav-header (clickMenuButton)="clickMenuButton()"></cmx-nav-header>
<h4>Button</h4>
<hr>
<button cmx-button color="blue">
    Day
</button>
<button cmx-button color="blue" disabled="true">
    Day
</button>
<button cmx-button color="green">
    Day
</button>
<button cmx-button color="green" disabled="true">
    Day
</button>
<button cmx-button color="blue-inverse">
    Day
</button>
<button cmx-button color="blue-inverse" disabled="true">
    Day
</button>
<button cmx-button color="green-inverse">
    Day
</button>
<button cmx-button color="green-inverse" disabled="true">
    Day
</button>
<br><br>
<button cmx-button color="blue">
    Add a location
</button>
<button cmx-button color="blue" disabled="true">
    Add a location
</button>
<button cmx-button color="blue-inverse">
    Add a location
</button>
<button cmx-button color="blue-inverse" disabled="true">
    Add a location
</button>
<button cmx-button color="green">
    Add a location
</button>
<button cmx-button color="green-inverse">
    Add a location
</button>
<br><br>
<button cmx-button color="green">
    Add another time request
</button>
<button cmx-button color="green" disabled="true">
    Add another time request
</button>
<br><br>
<button cmx-button color="blue-inverse">
    This is a button with a text of large length
</button>
<button cmx-button color="blue-inverse" disabled="true">
    This is a button with a text of large length
</button>
<br><br>
<button cmx-button-link>
    This is a link button
</button>
<a cmx-button-link class="medium">
    This is a link button
</a>
<a cmx-button-link>
    This is a link button
</a>
<button cmx-button-link disabled="true">
    This is a link button
</button>
<br><br>
<a cmx-button color="blue">
    anchor tag
</a>
<hr>
<h4>Dropdown Simple</h4>
<hr>
<hr>

<h4>Input</h4>
<hr>
<button (click)="hola()">click</button>
<cmx-input title="Name" [isWrong]="hi" errorMessage="Validate your input">
    <input type="text" placeholder="Enter your name">
</cmx-input>

<hr>

<hr>

<h4>Label Tag</h4>
<cmx-chip text="New Cement Products"></cmx-chip>
<hr>
<h4> Modal Dialog</h4>

<button cmx-button color="blue" (click)="showModal()">
    Modal Dialog
</button>

<button cmx-button color="blue" (click)="showComponentModal()">
    Component Modal Dialog
</button>
<br>
<br>
<cmx-alert [inputAlert]="inputAlert" (clickLink)="alertLinkResult($event)" ></cmx-alert>
<br>
<button cmx-button color="blue" (click)="addAlert()">
    Add alert
</button>
<button cmx-button color="green" (click)="addGreen()">
    Add green alert
</button>
<button cmx-button color="green" (click)="addAlertLink()">
    Add alert link
</button>


<h4>Panel Card</h4>
<cmx-frame>
    <div style="width:30%">
        <cmx-panel-card title="Cemex new components"></cmx-panel-card>
    </div>

    <cmx-chip-input ngDefaultControl placeholder="Search" delimiterCode="188">
    </cmx-chip-input>
</cmx-frame>
<hr>
<br>
<br>
<h4>CMX-MAP</h4>
<div style="width: 100%; height: 500px;">
    <cmx-map  style="width:100%; height:100%;" (onMapReady)="onMapReady($event)"></cmx-map>
</div>

<br>
<br>
<br>