@import '../../variables/_colors';

.cmx-alert {
    display: flex;
    flex-direction: row;
    color: $true-white;

    a {
        text-decoration: underline;
        cursor: pointer;
    }
}

.alert-default {
    background-color: $bright-blue; 
}

.cmx-alert-text {
    padding: 2px;
    width: 90%;
    color: $true-white;
}

.cmx-alert-close-icon {
    width:10px;
    height:10px;
    display: flex;
    align-self: center;
    fill: #FFF;
    cursor: pointer;
    background-image: url('/app/svg/svgmap/close-white.svg');
}
