<div fxLayout="row" class="cmx-nav-header">
    <div class="menu-container" fxShow [fxHide.gt-sm]="true">
        <span class="menu-icon" (click)="onClickMenuButton($event)"></span>
    </div>
    <div fxFlex class="logo-container" class.gt-sm="logo-container-gt-sm">
        <span class="logo-header-cemex" class.gt-sm="logo-header-cemex logo-header-cemex-desk"></span>
    </div>
    <div class="controls-container">
        <div class="notifications" fxHide [fxShow.gt-sm]="true">
            {{_labelNotification}}
            <div class="circle-notification">
                {{_notifications.length}}
            </div>
        </div>
        <div class="separator" fxHide [fxShow.gt-sm]="true"></div>
        <div class="search-div">
            <span class="search-icon" (click)="onClickSearch()"></span>
            <div class="search-input" [ngClass]="{'show-input-search': _openInput }">
                <input type="text" placeholder="Type to search and press enter" [(ngModel)]="_searchValue">
                <span class="cancel-icon" (click)="onClickCancelSearch()"></span>
            </div>
        </div>
        <div class="separator" fxHide [fxShow.gt-sm]="true"></div>
        <div class="circle-initials" fxHide [fxShow.gt-sm]="true">
            {{_userInitials}}
        </div>
    </div>
</div>