.cmx-nav-header {
    background-color: #002A59;
    height: 56px;
    padding: 5px;
}

.logo-header-cemex {
    background-image: url("/vendor/svgmap/logo-white.svg");
    display: block;
    top: 0;
    left: 0;
    width: 133px;
    height: 28px;
    background-repeat: no-repeat;
}

.logo-header-cemex-desk {
    opacity: 0.8;
    &:hover {
        opacity: 1!important;
    }
}


.menu-icon {
    background-image: url("/vendor/svgmap/burger-menu-white.svg");
    display: block;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;

}


.logo-container-gt-sm {
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.notifications {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #FFF;
    align-items: center;
    font-family: Roboto;
    font-weight: bold;
}

.circle-notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #EE3D42;
    color: #FFF;
    margin-left: 5px;
    font-size: 9px;
}

.circle-initials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #FFF;
    color: #001B3B;
    font-family: Roboto;
    font-weight: bold;
    margin-left: 5px;
    font-size: 9px;
}

.search-icon {
    display: flex;
    align-self: center;
    background-image: url("/vendor/svgmap/magnifier-glass-white.svg");
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    cursor: pointer;  
}


.controls-container {
    display: flex;
    flex-direction: row;
}

.separator {
    border-left: 1px solid #FFF;
    margin: 10px;
}

.search-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-input {
    display: none;
    margin: 3px;
    input {
        background-color: transparent;
        border-color: #FFF;
        border-style: none none solid;
        border-width: 0 0 1px;
        box-sizing: border-box;
        color: #FFF;
        font-size: 16px;
        padding: 0;
        width: 100%;
        opacity: 0.7;
        &:focus {
            outline: 0;
            opacity: 1;
        }
        &:focus~label,
        &:valid~label {
            visibility: hidden;
        }
        &:invalid {
            box-shadow: none;
        }
    }
}

.show-input-search {
    display: flex!important;
    flex-direction: row;
    align-items: center;
}

.cancel-icon {
    margin: 3px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/vendor/svgmap/close-white.svg");
    width:14px;
    height:14px;
    cursor: pointer;
}