<div style="display: block" class="{{Class}}" [style.height]="masterHeight" [style.min-height]="minHeight">
    <div class="simple-card-title">
        <span class="simple-card-span">{{title}}</span>
    </div>
    <ng-content></ng-content>
</div>