@import './../../app';

// ==================================================================
// General
// ==================================================================

:host.cmx-button-link{
    font-family: $font-family;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    color: $bright-blue;
    background: none;
    border: none;
    cursor: pointer;
    height: 32px;
    min-width: 85px;
    max-width: 280px;
    width: auto;
}

:host.cmx-button-link:focus{
    outline:0;
}

:host.cmx-button-link:hover{
    text-decoration: underline;
}

:host.cmx-button-link.medium{
    font-size: 18px;
    line-height: 24px;
}

:host.cmx-button-link:disabled{
    color: $disabled-grey;
    cursor: not-allowed;
}

:host.cmx-button{
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    font-family: $font-family;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 16px;
    padding: 8px 16px;
    border-radius: 2px;
    border: none;
    min-width: 85px;
    max-width: 280px;
    width: auto;
    text-align: center;
    min-height: 32px;
}

:host.cmx-button.blue:disabled, :host.cmx-button.green:disabled{
    background-color: $disabled-grey !important;
    cursor: not-allowed;
}

:host.cmx-button.blue-inverse:disabled, :host.cmx-button.green-inverse:disabled {
    background-color: transparent;
    color: $disabled-grey !important;
    border-color: $disabled-grey !important;
    cursor: not-allowed;
}

// ==================================================================
// Colors
// ==================================================================

:host.cmx-button.blue{
    background-color: $bright-blue;
    color: $true-white;
}

:host.cmx-button.green{
    background-color: $bright-green;
    color: $true-white;
}

:host.cmx-button.blue-inverse{
    background-color: transparent;
    color: $bright-blue;
    border: 1px solid $bright-blue;
}

:host.cmx-button.green-inverse{
    background-color: transparent;
    color: $bright-green;
    border: 1px solid $bright-green;
}

:host.is-anchor.blue:active{
    background: $active-blue;
}

:host.is-anchor.green:active{
    background: $active-green;
}

:host.is-anchor.blue-inverse:active{
    background: $active-blue;
    opacity: 0.4;
}

:host.is-anchor.green-inverse:active{
    background: $active-green;
    opacity: 0.4;
}

// ==================================================================
// Ripple effect
// ==================================================================

:host.cmx-button.ripple{
    overflow: hidden;
}

:host.cmx-button.ripple .cmx-button__ripple-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

:host.cmx-button.ripple /deep/{
    .--ripple-effect{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background: $disabled-grey;
        animation: ripple-animation 2s;
    }
}

:host.cmx-button.blue /deep/, :host.cmx-button.blue-inverse /deep/{
    .--ripple-effect{
        background: $active-blue;
    }
}

:host.cmx-button.green /deep/, :host.cmx-button.green-inverse /deep/{
    .--ripple-effect{
        background: $active-green;
    }
}

@keyframes ripple-animation{
    from{
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0.4;
    }
    to{
        -webkit-transform: scale(100);
        transform: scale(100);
        opacity: 0;
    }
}

