<div class="cmx-alert-container">
    <div *ngFor="let alert of inputAlert" class="cmx-alert" [ngClass]="alert.className ? alert.className : 'alert-default' ">
        <div class="cmx-alert-text"> {{alert.alertText}}. <a *ngIf="alert.alertLink" (click)="onClickLink(alert)">{{alert.alertLink?.linkText}}</a>
        </div>
        <span class="cmx-alert-close-icon" (click)="closeAlert(alert)">
        <!--svg class="cmx-alert-close-icon" data-name="close icon" xmlns="http://www.w3.org/2000/svg">
            <path id="Fill-1" class="cls-1" d="M6.83,6l5-5A.58.58,0,0,0,11,.17l-5,5-5-5A.58.58,0,0,0,.17,1l5,5-5,5a.58.58,0,0,0,.41,1A.58.58,0,0,0,1,11.83l5-5,5,5a.58.58,0,0,0,.83,0,.58.58,0,0,0,0-.83Z"
                transform="translate(0 0)" />
        </svg-->

        </span>
    </div>
</div>