﻿@import './../../assets/sass/tricks';

#sidebar {
    background: transparent;
    height: 100%;
    display: flex;
    justify-content: center;
}

.siderbar-vertical {
    flex-direction: row;
}

.siderbar-horizontal {
    flex-direction: column;
}

.tabs {
    width: 100%; // ? idk why flex box renders this as 35px
    background: #071943;
}

.vertical-tab{
    width: 40px!important;
}

.tabs>.section-container {
    padding: 0px 5px;
}

.tabs>.section-container>.section {
    min-height: 40px;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.tabs>.section-container>.section>.icon-wrapper {
    position: relative;
    min-height: 40px;
}

.tabs>ul {
    height: 100%;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.tabs>ul>li>a {
    height: 100%;
    color: #000;
    text-align: center;
    text-decoration: none!important;
    &:hover {
        font-weight: bolder;
    }
}

.section-icon {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.circle {
    border-radius: 50%;
    width: 7.31px;
    height: 7.31px;
    background-color: gray;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 12px;
}

.content {
    width: 100%;
    height: inherit;
    padding: 0px;
    background: rgba(7, 25, 67, 0.9);
    overflow: auto;
    color: white;
}

.truck-content>.title {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    text-align: right;
}

.truck-content>.subtitle {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 23px;
}

.truck-content>.section:not(:first-child) {
    margin-top: 10px;
}

.truck-content>.section:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 2550, .25);
}

.property {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
}

.property>.title {
    font-weight: bold;
}

.tab-horizontal {
    display: flex;

    li {
        padding: 0px;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    
}

.tab-selected {
    font-weight: bold;
}

:host /deep/ .tab-selected div {
    font-weight: bold;
}

:host /deep/ tab-sidebar { 
    
    height: inherit;
    .content {
        height: inherit;
    }
}