@import '../../variables/_colors';

.cmx-dialog {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.dialog-title {
    font-size: 12px;
    color: #001B3B;
}
.cemex-header {
    background-color: $true-white;
    display: flex;
    justify-content: flex-end;
}

.cemex-body{
    background-color: $true-white;
}

.cemex-footer{
    background-color: $true-white;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;

    button {
        margin: 0px 3px;
    }
}

:host /deep/ .close-icon {
    margin: 3px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/vendor/svgmap/close.svg");
    width:24px;
    height:24px;
    cursor: pointer;

}