label {
    padding: 8px 16px;
    background-color: #E8EBEF;
    line-height: 32px;
    border-radius: 3px;
    margin-left: 9px;
    display: inline !important;
    span.text {
        color: #001B3A;
        font-weight: bold;
        font-size: 16px;
        height: 16px;
        line-height: 16px;
        padding-right: 9px;
    }
    img {
        margin: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

.delete-icon {
    //background-image: url("/app/svg/svgmap/close.svg");
    width: 12px;
    height: 12px;
    border: 0;
    border-image-width: 0;
}

.select-chip {
    color: white;
    background: #D6D6D6;
}