@{ ViewData["Title"] = "Cemex Controls"; }

<script src="https://maps.google.com/maps/api/js?key=AIzaSyAb0m2qsu5odK1JdmLa0EgFOiEZtn51NhQ&libraries=drawing">
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src="~/dist/vendor.js" asp-append-version="true"></script>

</script>
@section scripts {
<script src="~/dist/main-client.js" asp-append-version="true"></script>
}
