@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../variables/_colors';
.simple-card-border {
    //border: 1px solid transparent;
    width: 100%;
    background-color: $true-white;
    min-height: 220px;
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.03); //border-radius: 4px;
    color: $deep-blue;
    border-radius: 3px;
}

.simple-card-title {
    background-color: $deep-blue;
    height: 32px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    font-weight: bold;
    line-height: 32px;
}

.simple-card-span {
    color: $true-white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}