<div id="sidebar" [ngClass]="{ 'siderbar-vertical' : verticalTab, 'siderbar-horizontal' : !verticalTab }">
    <div class="tabs" [ngClass]="{'vertical-tab' : verticalTab }">
        <ul [ngClass]="{ 'tab-horizontal': !verticalTab}">
            <li *ngFor="let tab of tabs | customTabPipe" [class.active]="tab.active">
                <a (click)="tabClicked(tab)" class="section-container clickable" [class.disabled]="tab.disabled">
                    <span *ngIf="!tab.hasCustomTab" [hidden]="!tab.showTab" [ngClass]="{ 'tab-selected': tab.active }" >{{tab.title}}</span>
                    <span *ngIf="tab.hasCustomTab" [ngTransclude]="tab.customTab.headingRef" [ngClass]="{ 'tab-selected': tab.active }"></span>
                </a>
                <div class="tab-arrow">
                </div>
            </li>
        </ul>
    </div>
    <div class="content">
        <ng-content select="tab-sidebar"></ng-content>
    </div>
</div>