<div class="input-chip-container">
    <div class="chip-container">
        <cmx-chip [text]="tag" [index]="i+1" [selected]="selectedTag === i+1" (chipRemoved)="removeTag($event)" *ngFor="let tag of tagsList; let i = index">
        </cmx-chip>
        <input class="chip-input-field" type="text" [placeholder]="placeholder" [(ngModel)]="inputValue" (paste)="inputPaste($event)" (keydown)="inputChanged($event)">
    </div>
    <span class="search"><img (click)="search($event)" src="/app/svg/svgmap/magnifier-glass.svg"></span>
</div>