<h1> Md Input Container Demo: </h1>
<hr>
<br>
<form [formGroup]="_disputeForm">
<md-textarea [control]="_disputeForm.controls.comments">
    <label for="comment">Comment</label>
    <textarea placeholder="Reason goes here" rows="5" id="comment" formControlName="comments"></textarea>
</md-textarea>
</form>

<div style="display: block;">
    <pre style="display: inline-block; margin-top:10px;">&lt;md-textarea [control]=&quot;_disputeForm.controls.comments&quot;&gt;&lt;/md-textarea&gt;</pre>
</div>