// Buttons

.button {
	display: 				inline-block;
	min-width: 				85px;
	max-width: 				280px;
	border-radius:  		$radius-2;
	padding: 				8px 16px;
	font-family: 			$font-family;
	font-size: 				$font-size-16;
	line-height: 			$line-height-16;
	font-weight: 			$font-bold;
	color: 					$true-white;
	background: 			$bright-blue;
	text-transform: 		uppercase;
	text-align: 			center;
	cursor: 				pointer;
	transition: 			all 0.2s;

	&.bright-green {
		background: 		$bright-green;
	}

	&:hover,
	&.hover {
		text-decoration: none;
		color: 			 	$true-white;
		box-shadow: 	 	0 2px 4px rgba(0,0,0,0.1);
	}

	&:active,
	&:focus,
	&.active,
	&.focus {
		text-decoration: none;
		color: 			 	$true-white;
		background: 	 	$active-blue;

		&.bright-green {
			background:  	$active-green;
		}
	}

	&.disabled {
		transition: 		none;
		cursor: 			not-allowed;
		background: 		$disabled-grey;

		&:hover {
			box-shadow: 	none;
		}
	}
}

.button-ghost {
	display: 				inline-block;
	min-width: 				85px;
	max-width: 				280px;
	padding: 				8px 16px;
	border-radius:  		$radius-2;
	border: 				$solid-1-bright-blue;
	font-family: 			$font-family;
	font-size: 				$font-size-16;
	line-height: 			$line-height-16;
	font-weight: 			$font-bold;
	color: 					$bright-blue;
	background: 			none;
	text-transform: 		uppercase;
	text-align: 			center;
	cursor: 				pointer;
	transition: 			all 0.2s;

	&.bright-green {
		background: 		none;
		color: 				$bright-green;
		border: 			$solid-1-bright-green;
	}

	&:hover,
	&.hover {
		text-decoration: none;
		color: 			 	$bright-blue;
		box-shadow: 	 	0 2px 4px rgba(0,0,0,0.1);

		&.bright-green {
			color: 		 	$bright-green;
			border: 	 	$solid-1-bright-green;
		}
	}

	&:active,
	&:focus,
	&.active,
	&.focus {
		text-decoration: 	none;
		background: 	 	none;
		color: 			 	$active-blue;
		border: 		 	$solid-1-active-blue;

		&.bright-green {
			background:  	none;
			color: 		 	$active-green;
			border: 	 	$solid-1-active-green;
		}
	}

	&.disabled {
		transition: 		none;
		cursor: 			not-allowed;
		border: 			$solid-1-disabled-grey;
		color: 				$disabled-grey;

		&:hover {
			box-shadow: 	none;
		}
	}
}

.button-link {
	display: 				inline-block;
	font-family: 			$font-family;
	font-weight: 			$font-medium;
	font-size: 				$font-size-12;
	line-height: 			$line-height-16;
	text-transform: 		uppercase;

	&.button-link-medium {
		font-size: 			$font-size-18;
		line-height: 		$line-height-24;
	}
}