// Icons

/* icons */
[class*='icon-'] {
	width: 24px;
	height: 24px;
}

.icon-accepted-ok 			{ fill: $bright-green; }
.icon-calendar 				{ fill: $bright-blue; }
.icon-checkbox-active 		{ fill: $bright-blue; }
.icon-checkbox-hover 		{ fill: $bright-blue; }
.icon-checkbox-static   	{ fill: $disabled-grey; }
.icon-clock 				{ fill: $bright-blue; }
.icon-close-black 			{ fill: $dark-grey; }
.icon-close-blue 			{ fill: $bright-blue; }
.icon-close-silver 			{ fill: $medium-grey; }
.icon-collapse-static 		{ fill: $medium-grey; }
.icon-collapse-hover 		{ fill: $bright-blue; }
.icon-down-double-silver 	{ fill: $medium-grey; }
.icon-down-double-blue 		{ fill: $bright-blue; }
.icon-down-double-black 	{ fill: $dark-grey; }
.icon-down-rounded-full 	{ fill: $bright-blue; }
.icon-down-rounded 			{ fill: $bright-blue; }
.icon-down-single-silver 	{ fill: $medium-grey; }
.icon-down-single-blue 		{ fill: $bright-blue; }
.icon-down-single-black 	{ fill: $dark-grey; }
.icon-error 				{ fill: $true-red; }
.icon-expand-silver 		{ fill: $medium-grey; }
.icon-expand-blue 			{ fill: $bright-blue; }
.icon-expand-black 			{ fill: $dark-grey; }
.icon-export-silver 		{ fill: $medium-grey; }
.icon-export-blue 			{ fill: $bright-blue; }
.icon-export-black 			{ fill: $dark-grey; }
.icon-favourite 			{ fill: $medium-grey; }
.icon-favourite-active 		{ fill: $bright-orange; }
.icon-left-double-silver 	{ fill: $medium-grey; }
.icon-left-double-blue 		{ fill: $bright-blue; }
.icon-left-double-black 	{ fill: $dark-grey; }
.icon-left-rounded-full 	{ fill: $bright-blue; }
.icon-left-rounded 			{ fill: $bright-blue; }
.icon-left-single-silver 	{ fill: $medium-grey; }
.icon-left-single-blue 		{ fill: $bright-blue; }
.icon-left-single-black 	{ fill: $dark-grey; }
.icon-legal-entity 			{ fill: $dark-grey;	}
.icon-minus-full 			{ fill: $bright-blue; }
.icon-minus-round 			{ fill: $bright-blue; }
.icon-control-center 		{ fill: $bright-blue; }
.icon-invoicing		 		{ fill: $bright-blue; }
.icon-legal-entity		 	{ fill: $bright-blue; }
.icon-orders 				{ fill: $bright-blue; }
.icon-map-location			{ fill: $bright-blue; }
.icon-map-delivery-point	{ fill: $bright-green; }
.icon-plus-full 			{ fill: $bright-blue; }
.icon-plus 			 		{ fill: $bright-blue; }
.icon-pricing 				{ fill: $bright-blue; }
.icon-radio-active 			{ fill: $bright-blue; }
.icon-radio-active-circle 	{ fill: $medium-grey; }
.icon-radio-active-dot 		{ fill: $bright-blue; }
.icon-radio-hover 			{ fill: $bright-blue; }
.icon-radio-static 			{ fill: $disabled-grey; }
.icon-repeat-silver 		{ fill: $medium-grey; }
.icon-repeat-blue 			{ fill: $bright-blue; }
.icon-repeat-black 			{ fill: $dark-grey; }
.icon-right-double-silver 	{ fill: $medium-grey; }
.icon-right-double-blue 	{ fill: $bright-blue;}
.icon-right-double-black 	{ fill: $dark-grey; }
.icon-trash-silver 			{ fill: $medium-grey; }
.icon-trash-blue 			{ fill: $bright-blue; }
.icon-up-double-silver 		{ fill: $medium-grey; }
.icon-up-double-blue 		{ fill: $bright-blue; }
.icon-up-double-black 		{ fill: $dark-grey; }
.icon-up-rounded-full 		{ fill: $bright-blue; }
.icon-up-rounded 			{ fill: $bright-blue; }
.icon-up-single-silver 		{ fill: $medium-grey; }
.icon-up-single-blue 		{ fill: $bright-blue; }
.icon-up-single-black 		{ fill: $dark-grey; }
.icon-warning-repeat 		{ fill: $bright-orange; }
.icon-warning-repeat-2 		{ fill: $true-white; }
.icon-warning-mark 			{ fill: $true-white; }
.icon-warning-red 			{ fill: $true-red; }
.icon-warning-orange 		{ fill: $bright-orange; }


